<!-- Header -->
<section id="header">
    <div class="header container">
        <div class="nav-bar">
            <div class="brand">
                <a href="#hero">
                    <h1><span>P</span>ratk <span>P</span>atel</h1>
                </a>
            </div>
            <div class="nav-list">
                <div class="hamburger">
                    <div class="bar"></div>
                </div>
                <ul>
                    <li><a routerLink="/home" data-after="Home">Home</a></li>
                    <li><a routerLink="/home" data-after="Service">Services</a></li>
                    <li><a routerLink="/home" data-after="Projects">Projects</a></li>
                    <li><a routerLink="/home" data-after="About">About</a></li>
                    <li><a routerLink="/home" data-after="Contact">Contact</a></li>
                    <li><a routerLink="/home" data-after="Contact">DashBorad</a></li>
                    <li><a routerLink="/login" data-after="About">Sing Out</a></li>
                    <li><a routerLink="/login" data-after="Contact">Sing Up</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End Header -->