<!-- <form>
    <div>
        <label>Username:</label>
        <input type="text" name="username" [(ngModel)]="username">
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" [(ngModel)]="password">
    </div>
    <input type="submit" value="login" (click)="onSubmit()">

</form> -->



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <section class="vh-100" style="background-color:#29323c;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">



                <div class="box">
                    <h1>Login</h1>
                    <form>
                        <label>Username:</label>
                        <div>
                            <input type="text" placeholder="Enter username" name="username" [(ngModel)]="username">
                        </div>
                        <label>Password:</label>
                        <div>
                            <input type="password" placeholder="Enter Password" name="password" [(ngModel)]="password">
                        </div>
                        <a href="#" class="forgot">Forgot Password</a>
                        <input type="submit" value="login" (click)="onSubmit()">
                    </form>
                    <a href="#" class="sign-up">sign-up</a>
                </div>


            </div>
        </div>
    </section>

</body>

</html>